In [ ]:
"""
Listas e tuplas,
Strings,
Dicionários,
Estruturas de repetição,
Funções.
"""

In [ ]:
"""
Listas são coleções de objetos em Python.
Ao invés de declarar 1 variável para cada valor que gostaríamos de armazenar, 
podemos criar uma lista para armazenar vários valores.
"""

## Listas e Tuplas

In [2]:
# Criando uma lista vazia.
listavazia = []

# Criando uma lista com alguns valores.
numeros = [1, 3, 7, 8, 9]

# Listas podem mesclar diferentes tipos de valores.
listamista = [14, "let's code", 0.1, True]

# Acessamos cada elemento da lista através de um índice entre colchetes.
# Os índices começam em 0.
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

1
3
7
8
9

In [3]:
# Listas são mutáveis: podemos alterar o valor de seus itens.
numeros[2] = 5
print(numeros)

[1, 3, 5, 8, 9]

In [5]:
# Funções de lista
indice = 0
while indice < len(numeros):
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

In [9]:
animais = []
resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if (resposta == 's' or resposta == 'S'):
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: cachorro
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: gato
Deseja adicionar um animal à lista (s/n)? n
['cachorro', 'gato']

In [10]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: gato
['cachorro']

In [11]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

In [12]:
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

In [13]:
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

jogadores em ordem alfabética:  ['Adriano', 'Rivaldo', 'Ronaldo', 'Ronaldo']

In [15]:
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]
maior = max(digitos)
menor = min(digitos)
print(digitos)

[3, 1, 4, 1, 5, 9, 2, 6, 5]

In [16]:
print("Maior = ", maior, "e menor = ", menor)

Maior =  9 e menor =  1

In [17]:
# Uma tupla é uma coleção de objetos que lembra muito as listas.

# Ao invés de colchetes, usamos parênteses para declarar as tuplas:
numeros = (1,2,3,5,7,11)

# Podemos declarar sem parênteses também:
numeros = 1,2,3,5,7,11

# Para acessar um valor, utilizamos a mesma sintaxe das listas:
print(numeros[4])

7

In [18]:
print(type(numeros))

<class 'tuple'>

In [ ]:
'''
Porém, tuplas são imutáveis: não é possível adicionar ou modificar valores.
Descomentar a linha abaixo provocará erro de execução:
'''

In [22]:
# Podemos gerar uma tupla a partir de uma lista...
lista1 = [3, 1, 4, 1, 5, 9, 2, 6, 5]
tupla1 = tuple(lista1)
print(tupla1)

(3, 1, 4, 1, 5, 9, 2, 6, 5)

In [23]:
# ...ou uma lista a partir de uma tupla:
tupla2 = [1, 6, 1, 8]
lista2 = list(tupla2)
print(lista2)

[1, 6, 1, 8]

In [24]:
# Também pode-se usar o unpacking com uma tupla:
a, b, c, d, e, f = numeros # "desempacota" a tupla numeros
print("O primeiro vale:", a, "e o ultimo vale:", f)

O primeiro vale: 1 e o ultimo vale: 11

## Strings 1

In [25]:
# Suponhamos que temos a seguinte string:

frase = 'uma FRASE'

# Podemos acessar individualmente cada caractere em uma frase.
# A ideia é a mesma de acessar uma lista:
print(frase[0])
print(frase[1])
print(frase[2])

u
m
a

In [26]:
tamanho = len(frase)
print("A frase possui", tamanho, "caracteres")

A frase possui 9 caracteres

In [27]:
# Porém, strings são imutáveis: não podemos alterar caracteres individuais
# A linha abaixo, se for descomentada, dará erro no programa:
# frase[4] = 'C'

In [28]:
# Podemos converter strings para listas:
listafrase = list(frase)
print(listafrase)

['u', 'm', 'a', ' ', 'F', 'R', 'A', 'S', 'E']

In [29]:
# A função join() intercala cada elemento de uma lista com uma string.
stringfinal = '-py'.join(listafrase)
print(stringfinal)

u-pym-pya-py -pyF-pyR-pyA-pyS-pyE

In [30]:
# Usar um join() com uma string vazia é útil para transformar a lista de volta
# em string:
stringfinal = ''.join(listafrase)
print(stringfinal)

uma FRASE

In [31]:
# Existem algumas funções interessantes que retornam a string "tratada":
s1 = frase.capitalize() # 1a letra maiúscula, restante minúscula
s2 = frase.title() # todo início de palavra em maiúscula, resto minúscula
s3 = frase.upper() # string inteira em maiúscula
s4 = frase.lower() # string inteira em minúscula
s5 = frase.replace('F', 'C') # substitui a primeira substring pela segunda

In [32]:
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

Uma frase
Uma Frase
UMA FRASE
uma frase
uma CRASE

In [33]:
# Note que NENHUMA delas ALTERA a string original, elas sempre retornam
# a string nova.
print('String original:', frase)

String original: uma FRASE

In [34]:
# Outra possibilidade com strings é quebrar a string em uma lista de substrings
# Sempre que o caractere especificado é encontrado, a string é quebrada
quebra1 = frase.split(' ') # quebra a frase no caractere espaço em branco
quebra2 = s3.split('A') # quebra a frase em maiúsculas no caractere 'A'

In [35]:
print(quebra1)
print(quebra2)

['uma', 'FRASE']
['UM', ' FR', 'SE']

In [36]:
# Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)

uma
FRASE

In [37]:
# Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)

uma
	FRASE

In [39]:
# Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'
print(frase)

uma\FRASE

In [40]:
# Dois operadores aritméticos possuem um comportamento especial em strings:
# Operador de soma (+): concatena (une) 2 strings.
palavra1 = "Let's"
palavra2 = "Code"
palavra3 = palavra1 + palavra2
print(palavra3)

Let'sCode

In [41]:
# Operador de multiplicação (*): copia uma string 'n' vezes:
palavra = 'uma'
trespalavras = 3*palavra
print(trespalavras)

umaumauma

## Formatação de strings

In [ ]:
"""
Uma última função interessante de strings é o .format() 
Para entender como ela funciona, podemos pensar em um contrato. 
É normal que ele venha com campos em branco para serem preenchidos posteriormente. 
Exemplo:
Eu, ______________, portador do RG ________________ e nascido ao dia //, autorizo o uso de minha imagem.

Ao inserirmos no contrato nossas informações pessoais, ele se torna completo.

O .format() serve para "preencher" os "campos em branco" de uma string.

Os campos em branco serão representados por pares de chave: {}
"""

In [42]:
prod = 'chocolate'
preco = 3.14
print('O produto {} custa {}.'.format(prod, preco))

# Na linha acima, prod substituirá o primeiro {}, e preco o segundo {}.
# Saída: O produto chocolate custa 3.14.

O produto chocolate custa 3.14.

In [44]:
# É possível colocar algumas opções especiais de formatação. Por exemplo:

stringoriginal = 'O litro da gasolina custa {:.2f}'

In [45]:
preco = 3.14159265
stringcompleta = stringoriginal.format(preco)
print(stringcompleta)
# Saída: O litro da gasolina custa 3.14
# O preço sai com apenas 2 casas após a vírgula!

O litro da gasolina custa 3.14

In [46]:
# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))
# Saída: c, b and a

c, b and a

In [47]:
print('{0}{1}{0}'.format('abra', 'cad'))
# Saída: abracadabra

abracadabra

In [48]:
# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço

1/8/2019

In [49]:
data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

 1/ 8/2019

In [50]:
# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

01/08/2019

In [52]:
# Um modo mais simples de utilizar o format
nome = "Ítalo"
profissao = "engenheiro de dados"
print(f"{nome} é {profissao}")

Ítalo é engenheiro de dados

## Dicionários

In [1]:
# O dicionário é definido pelos símbolos { e }

dicionario = {}

# O dicionário não possui um "append".
# Adicionamos valores diretamente:

dicionario['cat'] = 'gato'
dicionario['dog'] = 'cachorro'
dicionario['mouse'] = 'rato'

In [2]:
print(dicionario)

{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}

In [3]:
print(type(dicionario))

<class 'dict'>

In [ ]:
'''
Saída:
{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
<class 'dict'>
'''

In [5]:
# Dicionários, assim como as listas, são mutáveis:
dicionario['dog'] = 'cão'
print(dicionario)
# Saída: {'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

{'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

In [6]:
# Podemos criar o dicionário diretamente também:
dicionario2 = {'Curso': 'Python Pro', 'Linguagem':'Python', 'Módulo':2}
print(dicionario2)
# Saída: {'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

{'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

In [7]:
# Podemos utilizar o operador "in" para verificar se uma chave existe:
if 'cat' in dicionario:
    print('cat existe!') # Sim
if 'bird' in dicionario:
    print('bird existe!') # Não
if 'gato' in dicionario:
    print('gato existe!') # Não

cat existe!

In [ ]:
'''
Também podemos utilizar as funções .keys() e .values() para obter listas
com apenas as chaves ou apenas os valores do dicionário.
'''

In [8]:
chaves = dicionario.keys()
print(chaves)
# Saída: dict_keys(['cat', 'dog', 'mouse'])

dict_keys(['cat', 'dog', 'mouse'])

In [9]:
valores = dicionario.values()
print(valores)
# Saída:dict_values(['gato', 'cão', 'rato'])

dict_values(['gato', 'cão', 'rato'])

In [10]:
# Já a função .items(), retorna uma lista de tuplas (chave, valor) de um dicionário

itens = dicionario.items()
print(itens)
# Saída:dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

## Estrutura de repetição for

In [12]:
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

In [13]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)
    # este exemplo imprime os números de 0 a 9, de um em um

0
1
2
3
4
5
6
7
8
9

In [14]:
# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

1
2
3
4
5
6
7
8
9
10

In [15]:
# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

1
3
5
7
9
11
13
15
17
19

In [16]:
# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

10
9
8
7
6
5
4
3
2
1

In [18]:
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'população_milhões': 12.2
}

In [20]:
for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
população_milhões: 12.2

In [21]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
for nome in nomes_cidades:
    nome = 'Rio de Janeiro'
print(nomes_cidades)

['São Paulo', 'Londres', 'Tóquio', 'Paris']

In [22]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

## Funções

In [24]:
def hello():
    print("Olá, mundo!")

In [25]:
hello()

Olá, mundo!

In [28]:
def ola(nome):
    print("Olá,", nome)

In [29]:
ola("Maria")

Olá, Maria

In [30]:
def dadosPessoais(nome, idade, cidade):
    print("Seu nome é {}, você tem {} anos e mora em {}.".format(nome, idade, cidade))

dadosPessoais("José", 30, "Maceió")
# Saída: Seu nome é José, você tem 30 anos e mora em Maceió.

Seu nome é José, você tem 30 anos e mora em Maceió.

In [31]:
dadosPessoais(idade=56, cidade="Florianópolis", nome="Ana")
# Saída: Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

In [32]:
def somatorio(lista):
    soma = 0
    for item in lista:
        soma = soma + item
    return soma

numeros = [1, 2, 3, 4, 5]
soma_dos_numeros = somatorio(numeros)
print("A soma dos elementos da lista vale: ", soma_dos_numeros)

A soma dos elementos da lista vale:  15

In [33]:
if somatorio(numeros) > 50:
    print("Que soma grande!")
else:
    print("Que soma pequena!")

Que soma pequena!

In [34]:
def calcula_media(valor1, valor2, valor3):
    soma = valor1 + valor2 + valor3
    media = soma / 3
    return media

In [35]:
resultado = calcula_media(9,10,8)
print(resultado)

9.0

In [1]:
def funcaoRecursiva(numero):
    if (numero != 1):
        funcaoRecursiva(numero - 1)
    print(numero)

print("Testando a função recursiva:")
funcaoRecursiva(10)

Testando a função recursiva:
1
2
3
4
5
6
7
8
9
10

## Agrupando parâmetros e parâmetros opcionais

In [1]:
def piscina(*infos):
    vol = infos[0]*infos[1]*infos[2]
    return vol

volume = piscina(5, 4, 5)

print('O volume é: ', volume)

O volume é:  100

In [2]:
def piscina(prof, largura, comprimento):
    vol = prof*largura*comprimento
    return vol

lista = [5, 4, 5]

volume = piscina(*lista)

print('O volume é: ', volume)

O volume é:  100

In [3]:
def piscina(prof, **infos):
    vol = prof*infos['largura']*infos['comprimento']
    return vol

volume = piscina(5, largura=4, comprimento=5)

print('O volume é: ', volume)

O volume é:  100

In [4]:
def piscina(prof, largura=4, comprimento=5):
    vol = prof*largura*comprimento
    return vol

infos = {'largura': 10, 'comprimento': 20}

volume = piscina(5, **infos)

print('O volume é: ', volume)

O volume é:  1000

In [5]:
def calcula_media(*args):
    soma = sum(args)
    media = soma/len(args)
    return media

calcula_media(10,8,9)

9.0