## JOIN, LEFT e RIGHT

In [19]:
#Leitura dos arquivos de profissionais e salarios
profissional=spark.sparkContext.textFile("profissionais.txt")
salario=spark.sparkContext.textFile("salario.txt")

In [20]:
# Exibindo os dados sobre os profissionais
profissional.collect()

['Carlos,oncologista,hospital',
 'Ana,dentista,clinica',
 'Fernanda,enfermeira,hospital',
 'Sandra,pediatra,clinica',
 'Fatima,dentista,clinica',
 'Gilmar,cardiologista,hospital',
 'Fabio,pediatra,clinica',
 'Hilton,enfermeiro,clinica',
 'Daiane,dentista,clinica',
 'Paulo,farmaceutico,clinica',
 'Gilberto,pediatra,hospital']

In [9]:
#Exibindo os dados sobre salario
salario.collect()

['Carlos,10000',
 'Ana,7000',
 'Fernanda,5000',
 'Sandra,6000',
 'Fatima,8500',
 'Gilmar,9000',
 'Fabio,12000',
 'Hilton,5000',
 'Jefferson,8000',
 'Antonio,3000',
 'Joaquim,5000']

In [21]:
#Map
profissional_ajuste=profissional.map(lambda x:(x.split(",")[0],(x.split(",")[1],x.split(",")[2])))
profissional_ajuste.collect()

[('Carlos', ('oncologista', 'hospital')),
 ('Ana', ('dentista', 'clinica')),
 ('Fernanda', ('enfermeira', 'hospital')),
 ('Sandra', ('pediatra', 'clinica')),
 ('Fatima', ('dentista', 'clinica')),
 ('Gilmar', ('cardiologista', 'hospital')),
 ('Fabio', ('pediatra', 'clinica')),
 ('Hilton', ('enfermeiro', 'clinica')),
 ('Daiane', ('dentista', 'clinica')),
 ('Paulo', ('farmaceutico', 'clinica')),
 ('Gilberto', ('pediatra', 'hospital'))]

In [22]:
#Map col salario
salario_ajuste=salario.map(lambda x:(x.split(",")[0],x.split(",")[1]))

## Diferen√ßa entre joins

In [23]:
folha_pagamento_join=profissional_ajuste.join(salario_ajuste)
folha_pagamento_join.collect()

[('Carlos', (('oncologista', 'hospital'), '10000')),
 ('Gilmar', (('cardiologista', 'hospital'), '9000')),
 ('Fatima', (('dentista', 'clinica'), '8500')),
 ('Fabio', (('pediatra', 'clinica'), '12000')),
 ('Ana', (('dentista', 'clinica'), '7000')),
 ('Fernanda', (('enfermeira', 'hospital'), '5000')),
 ('Sandra', (('pediatra', 'clinica'), '6000')),
 ('Hilton', (('enfermeiro', 'clinica'), '5000'))]

In [24]:
folha_pagamento_join=profissional_ajuste.leftOuterJoin(salario_ajuste)
folha_pagamento_join.collect()

[('Carlos', (('oncologista', 'hospital'), '10000')),
 ('Gilmar', (('cardiologista', 'hospital'), '9000')),
 ('Fatima', (('dentista', 'clinica'), '8500')),
 ('Fabio', (('pediatra', 'clinica'), '12000')),
 ('Gilberto', (('pediatra', 'hospital'), None)),
 ('Daiane', (('dentista', 'clinica'), None)),
 ('Ana', (('dentista', 'clinica'), '7000')),
 ('Fernanda', (('enfermeira', 'hospital'), '5000')),
 ('Sandra', (('pediatra', 'clinica'), '6000')),
 ('Hilton', (('enfermeiro', 'clinica'), '5000')),
 ('Paulo', (('farmaceutico', 'clinica'), None))]

In [25]:
folha_pagamento_join=profissional_ajuste.rightOuterJoin(salario_ajuste)
folha_pagamento_join.collect()

[('Carlos', (('oncologista', 'hospital'), '10000')),
 ('Gilmar', (('cardiologista', 'hospital'), '9000')),
 ('Fatima', (('dentista', 'clinica'), '8500')),
 ('Fabio', (('pediatra', 'clinica'), '12000')),
 ('Joaquim', (None, '5000')),
 ('Antonio', (None, '3000')),
 ('Ana', (('dentista', 'clinica'), '7000')),
 ('Fernanda', (('enfermeira', 'hospital'), '5000')),
 ('Sandra', (('pediatra', 'clinica'), '6000')),
 ('Hilton', (('enfermeiro', 'clinica'), '5000')),
 ('Jefferson', (None, '8000'))]